#btnUpdate,#btncalculate{
//-fx-background-color: #50EF8F;
    -fx-background-color: linear-gradient(from 0% 10% to 95% 100% ,#707075, #fafafa, #707075);
}#btnUpdate:hover,#btncalculate:hover{
 //-fx-background-color: #50EF8F;
     -fx-background-color: linear-gradient(from 0% 10% to 95% 100% ,#646468, #fafafa, #646468);
}#btnUpdate:pressed,#btncalculate:pressed{
  //-fx-background-color: #50EF8F;
      -fx-background-color: linear-gradient(from 0% 10% to 95% 100% ,#57575b, #fafafa, #57575b);
}
#btnAdd{
   //-fx-background-color: #50EF8F;
       -fx-background-color: linear-gradient(from 0% 10% to 95% 100% ,#707075, #fafafa, #707075);
}#btnAdd:hover{
    //-fx-background-color: #50EF8F;
        -fx-background-color: linear-gradient(from 0% 10% to 95% 100% ,#646468, #fafafa, #646468);
}#btnAdd:pressed{
    //-fx-background-color: #50EF8F;
         -fx-background-color: linear-gradient(from 0% 10% to 95% 100% ,#57575b, #fafafa, #57575b);
 }
#btnDelete,#btnfinish{
    -fx-background-color: linear-gradient(from 0% 10% to 95% 100% ,#707075, #ffffff, #707075);
}#btnDelete:hover,#btnfinish:hover{
     -fx-background-color: linear-gradient(from 0% 10% to 95% 100% ,#646468, #ffffff, #646468);
 }#btnDelete:pressed#btnfinish:pressed{
      -fx-background-color: linear-gradient(from 0% 10% to 95% 100% ,#57575b, #ffffff, #57575b);
  }
#btnClear,#btnBill{
//-fx-background-color: #F8EA6D;
    -fx-background-color: linear-gradient(from 0% 10% to 95% 100% ,#707075, #ffffff, #707075);
}#btnClear:hover,#btnBill:hover{
 //-fx-background-color: #F8EA6D;
     -fx-background-color: linear-gradient(from 0% 10% to 95% 100% ,#646468, #ffffff, #646468);
 }#btnClear:pressed,#btnBill:pressed{
  //-fx-background-color: #F8EA6D;
      -fx-background-color: linear-gradient(from 0% 10% to 95% 100% ,#57575b, #ffffff, #57575b);
  }

#btncalculate{
    -fx-background-color: linear-gradient(from 0% 10% to 95% 100% ,#cfbd92, #ffffff, #cfbd92);
}#btncalculate:hover{
     -fx-background-color: linear-gradient(from 0% 10% to 95% 100% ,#b3a279, #ffffff, #b3a279);
}#btncalculate:pressed{
      -fx-background-color: linear-gradient(from 0% 10% to 95% 100% ,#8a7855, #ffffff, #8a7855);
}
#btndiplay,#btnnewload{
    -fx-background-color: linear-gradient(from 0% 10% to 95% 100%, #d9caaa,#ffffff, #d9caaa);
}#btndiplay:hover,#btnnewload:hover{
     -fx-background-color: linear-gradient(from 0% 10% to 95% 100% ,#ab9c79, #ffffff, #ab9c79);
}#btndiplay:pressed,#btnnewload:pressed{
      -fx-background-color: linear-gradient(from 0% 10% to 95% 100% ,#827656, #ffffff, #827656);
}
#btnNew,#btnsearch,#btnLoad,#btnMark,#btnupload,#btnRefresh{
    -fx-background-color: linear-gradient(from 0% 10% to 95% 100%,#97979b, #ffffff, #97979b);
}#btnNew:hover,#btnsearch :hover,#btnLoad:hover,#btnMark:hover,#btnupload:hover,#btnRefresh:hover{
     -fx-background-color: linear-gradient(from 0% 10% to 95% 100%,#8a8a8f, #ffffff, #8a8a8f);
}#btnNew:pressed,#btnsearch:pressed,#btnLoad:pressed,#btnMark:pressed,#btnupload:pressed,#btnRefresh:pressed{
      -fx-background-color: linear-gradient(from 0% 10% to 95% 100% ,#7d7d82, #ffffff, #7d7d82);
}

.dark {
    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}

